<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="emailRecipients" value="dwalgren@msn.com;doug@boomerangcomputer.com;" />
  </appSettings>
  <connectionStrings>
    <add name="elanConnectDevices" connectionString="Server=tcp:198.71.225.145,1433;Initial Catalog=ElanConnectApi;Persist Security Info=False;User ID=elanUsr1a;Password=3Lan$4x4;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>