<div class="jumbotron">
    <h1>HSTC - About Our Club</h1>
    <p class="lead">
        Here are the services and facilities we offer for swimming, swim team, swimming lessons, 
        tennis and tennis lessons, and social activities.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Swimming</h2>
    </div>
    <div class="col-md-4">
        <p><img src="~/Images/pool1.jpg" alt="swimming" style="width:300px;" /></p>
    </div>
    <div class="col-md-4">
        <p>Open Swim</p>
        <p>Adult Swim</p>
        <p>Swim Meets</p>
        <p>Swimming Lessons</p>
        <p>Noodle Nights</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Swim Team</h2>
        <p>Home of the Huntington Barracudas</p>
    </div>
    <div class="col-md-4">
        <p><img src="~/Images/swimteam.jpg" alt="swim team" style="width:300px;" /></p>
    </div>
    <div class="col-md-4">
        <p>
            Swim team liaison is <a href="mailto:huntingtonpoolsocial@gmail.com">Betsy Schrubbe</a>
        </p>
        <p>Co-Presidents are <a href="mailto:bethsheridan1@yahoo.com">Beth Sheridan</a> and <a href="mailto:Megalaw@hotmail.com">Megan Federhofer</a></p>
        <p>Head Coach is Stephanie Missak</p>
        <p>Assistant Coaches are Sydney, Meredith and Sean</p>
        <p><a class="btn btn-info" href="http://www.huntingtonbarracudas.org" target="_blank">Go to Site &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Swimming Lessons</h2>
        <p>Available to children of members ages 4 and up.</p>
        <p>
            <a href="@Url.Content("~/Documents/HSTC_2018_Swim_Lessons.pdf")" target="_blank">2018 Swim Lessons Schedule and Signup Forms</a><br />
            <a href="@Url.Content("~/Documents/HSTC_2018_Tot_Swim_Lessons.pdf")" target="_blank">2018 Tot Swim Lessons Schedule and Signup Forms</a><br />
        </p>
    </div>
    <div class="col-md-4">
        <p><img src="~/Images/pool2.jpg" alt="swimming lessons" style="width:300px;" /></p>
    </div>
    <div class="col-md-4">
        <p>
            Contact <a href="mailto:acmartinkus@gmail.com">Anna Martinkus</a> &nbsp;&nbsp; 630.849.6559
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tennis Team and Lessons</h2>
        <p>Available for adults and children</p>
        <p><a href="@Url.Content("~/Documents/HSTC_2018_Tennis.pdf")" target="_blank">2018 Tennis Schedule and Signup Forms</a><br />
</p>
    </div>
    <div class="col-md-4">
        <p><img src="~/Images/tennis.jpg" alt="tennis lessons" style="width:300px;" /></p>
    </div>
    <div class="col-md-4">
        <p>Head pro: <a href="mailto:osullivandaisy@aol.com">Karen O'Sullivan</a>, 630.272.4211, is heading up our ladies 
        teams. <a href="mailto:m.burghgraef@yahoo.com">Matt Burghraef</a>, 630.207.7033, will be leading our Juniors teams, kid's lessons and helping with adult drills.</p>
        <p>Tennis lessons begin the week of June 4, 2018. Private lessons are $70/hr. Semi-private rates differ.</p>
        <p>If you have any questions about our tennis programs please contact either of our Tennis Chairs 
            <a href="mailto:mililanil@yahoo.com">Lani Lyons</a>, 630.723.4423, or <a href="mailto:karipogue@gmail.com">Kari Walker</a>, 773.339.0945</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Social</h2>
        <p><a href="@Url.Content("~/Documents/HSTC_2017_Social_Calendar_Newsletter.pdf")" target="_blank">2017 Social Calendar and Newsletter</a></p>

    </div>
    <div class="col-md-4">
        <p><img src="~/Images/pool3.jpg" alt="social" style="width:300px;" /></p>
    </div>
    <div class="col-md-4">
        <p>Chill and Grill by the pool</p>
        <p>Parties</p>
        <p>Bingo Nights</p>
        <p>Noodle Nights</p>
        <p>Ladies Lunch and Float</p>
        <p>Girls Night</p>
        <p>Guys Card Night</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Volleyball</h2>
    </div>
    <div class="col-md-4">
        <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
        <p>Just east of the pool is a sand volleyball court open to members of the pool. The volleyball 
        court is not open during Swim Meets.</p>
    </div>
</div>
