<div class="jumbotron">
    <h1>Membership</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title-white">Huntington Swim and Tennis Club</h3>
    </div>
    <div class="panel-body">
        <p>
            HSTC is conveniently located on Chicago Ave. about two blocks
            west of South Naper Blvd in Naperville. We have a spacious parking area with bike racks and can be easily accessed by
            walkers through the <b>Huntington Commons</b> subdivision.
        </p>
        <p>
            Our club is open to members from Memorial Day through Labor Day. We feature a 20 yard 4 lane pool with a diving well
            and diving board, 2 outdoor tennis courts and a Clubhouse with mens and ladies dressing areas and showers. We also have
            sand volleyball and shuffleboard courts, and a popular covered adult lounge are with outdoor grills.
        </p>
        <p>
            Involved residents, a board of directors and employees provide management and guidance that allows us to offer a
            beautifully maintained facility with a variety of swimming, tennis and social activities. Reasonably priced swimming and
            tennis lessons are also available. The club is also home to our <a href="http://www.huntingtonbarracudas.org" target="_blank">Huntington Barracudas Swim Team</a>.
        </p>
        </div>
    </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title-white">Four Easy Steps To Join Us</h3>
            </div>
            <div class="panel-body">
                <ol>
                    <li>Buy a bond from an existing bondholder at a negotiated price or from the club board of directors at a fixed price.</li>
                    <li>
                        Fill out the Registration Form, attach written confirmation from you and seller that a sale has occured. Sale
                        confirmation may also be emailed to <a href="mailto:bonds@huntingtonpool.org">bonds@huntingtonpool.org</a>
                    </li>
                    <li>
                        Mail registration form, proof of sale document and $75.00 transfer fee to: Huntington Swim and Tennis Club, P.O. Box 201,
                        Naperville, IL 60566.
                    </li>
                    <li>Pay annual club dues by May 15th (May be included with items mailed in Step #3)</li>
                </ol>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title-white">Mail Your Payment</h3>
            </div>
            <div class="panel-body">
                <b>Mail payment to:</b><br />
                Huntington Swim and Tennis Club<br />
                PO Box 201<br />
                Naperville, IL 60566

                <!--
                <p>Each item includes a <b>convenience surcharge</b> in the total dollar amount.</p>                
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="S8CMYBUF94JWC">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Type of Membership">Type of Membership</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Active Equity Member">Active Equity Member $515.00 USD</option>
                                    <option value="Maintenance Equity Member">Maintenance Equity Member $255.00 USD</option>
                                    <option value="Tennis Only Member">Tennis Only Member $155.00 USD</option>
                                    <option value="Trial Member">Trial Member $614.00 USD</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                -->
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title-white">Membership Contact</h3>
            </div>
            <div class="panel-body">
                <p>
                    Have questions or want to inquire about joining? Please contact: Jeanette Hacker, Membership Chairman,
                    <a href="mailto:nettie1267@hotmail.com">nettie1267@hotmail.com</a> or 630.281.0708
                </p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title-white">Membership Specifics</h3>
            </div>
            <div class="panel-body">
                <p>
                    <b><u>Equity membership</u>:</b><br />
                    There are two types of equity members, Active and Maintenance.  Active equity members are
                    those that have an equity bond and have full use of the pool and all social activities.
                    Maintenance members are equity members that do not have use of the pool, but keep their
                    bond active for social activities.  Equity bonds can be purchased from the pool or from a
                    current equity bond holder that is selling their bond.  Dues "travel" with the bond.
                    Consequently, if a bond is purchased from an equity member that has not paid their dues,
                    it will be the responsibility of the current owner to bring all past dues current (including
                    any late fees).  If you are interested in buying a bond and are unsure whether the bondholders
                    are current with their dues, please contact the membership chairperson or the treasurer.
                </p>
                <p>
                    <b><u>Trial Membership ($595 for 2019 season)</u>:</b><br />
                    In addition to the equity membership, we do offer a limited number of Trial Memberships. This
                    type of membership is at the discretion of the board. As the name implies, it is good for one
                    year only and it has the same access to the pool and social activities as an active member. After
                    one year as a Trial member an equity bond will be required to be purchased (either from the pool
                    or existing bondholder) to gain access to the pool.
               </p>
                <p>
                    <b><u>Tennis Only Family Membership ($100 for 2019 season)</u>:</b>
                    <br /><br />
                    <b><u>Pricing</u>:</b><br />
                    The price for a bond from the pool will be determined by the board at the beginning of each
                    season and will be communicated in the annual President’s letter. $1000 in 2016. A bond purchased from an
                    existing bondholder is independently negotiated between buyer and seller.  The pool board
                    will not be responsible for negotiating bonds or buying back bonds from bondholders.  To
                    make sure bond transfers are approved, please see the requirements under "Bond Transfers".
                </p>
                <p>
                    <b><u>Dues</u>:</b><br />
                    Dues for active and maintenance bonds will be determined by the board at the beginning of
                    each season.  Bondholders are required to pay dues until their bond is sold or forfeited.
                    Unpaid dues for one year are considered forfeited and revert back to the pool.
                </p>
                <p>
                    <b><u>Guest Policy</u>:</b><br />
                    Click <a href="@Url.Content("~/Documents/HSTC_2018_Guest_Policy.pdf")" target="_blank">here</a> to view our Guest Policy.
                </p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title-white">Bond Transfers</h3>
            </div>
            <div class="panel-body">

                There are four things required for a bond transfer to be completed:
                <ol>
                    <li>
                        Written confirmation from buyer <u>and</u> seller that a sale has taken place.
                        (Email notification to <a href="mailto:bonds@huntingtonpool.org">bonds@huntingtonpool.org</a> is sufficient)
                    </li>
                    <li>
                        $75 transfer fee made payable to Huntington Swim and Tennis Club
                        (mail to: PO Box 201, Naperville, IL 60566)
                    </li>
                    <li>
                        Registration form filled out. This can be found on the website under
                        the link for registration form and/or the link for the President’s letter
                    </li>
                    <li>Payment of dues (if they were not already paid with the bond).</li>
                </ol>
            </div>
        </div>


